/* Laptop and tablets layout */
@media screen and (max-width: 1700px) {
    .arrow {
        position: absolute;
        width: 10%;
        transform: rotate(-25deg);
    }
}
@media screen and (max-width: 1366px) {
    body {
        background-position: 0 66%;
    }
    .headline {
        
        padding-top: 0px;
    }
    .ebook {
        width:70%
    }
    .arrow {
        position: absolute;
        right: 27%;
        top: 470px;
        width: 10%;
        transform: rotate(-15deg);
    }
    .arrow-right {
       top: 470px;
    }
}


@media screen and (max-width: 1200px) { 
    .maintext {
        font-size: 30px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .headtext {
        text-align: center;
        padding-top: 5px;
    }
    .subtext {
        margin-top: 5px;
    }
    .arrow-right, .arrow {
        display: none;
    }
    
    .cta {
        padding: 5px 5px 15px;
    }
    
}
@media screen and (max-width:1140px) {
    .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body {
        text-align: center;
    }
    .ebook {
        padding-top: 20px;
        margin: 0 auto;
    }
    .cta {
        width: 30%;
        padding: 25px 25px 25px 35px;
    
    }
    
   
}
@media screen and (max-width:900px) {
    .cta { width: 40%;}
}

/* Mobile layout */
@media screen and (max-width:800px) {
    .cta { width: 50%;}
}
@media screen and (max-width:768px) {
    .cta { width: 60%;}
    .material-symbols-outlined {
        margin-left: 0;
    }
    p {
        font-size: 18px;
    }
    .maintext {
        font-size: 28px;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
}